arXiv.*/*.aux
arXiv.*/*.log
arXiv.*/*.out
arXiv.*/*.synctex.gz
arXiv.*/*.synctex
arXiv.*/*.dvi
arXiv.*/*.fls
arXiv.*/*.fdb_latexmk
arXiv.*/*.bbl
arXiv.*/*.blg
arXiv.*/*.bib
arXiv.*/*.thm

#tmp
tmp/*
temp_*/*
*/temp_*/*

*.zip
archive_MCNP/B-10-Lib80x/*
